.f {
  display: flex;
}
.fc {
  display: flex;
  flex-direction: column;
}
.aic {
  align-items: center;
}
.aife {
  align-items: flex-end;
}
.aifs {
  align-items: flex-start;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.jcse {
  justify-content: space-evenly;
}
.jcsa {
  justify-content: space-around;
}
.jcfe {
  justify-content: flex-end;
}
.jcfs {
  justify-content: flex-start;
}
.jcs {
  justify-content: stretch;
}
