p03 {
  padding: 0.3rem;
}

pt03 {
  padding-top: 0.3rem;
}

pb03 {
  padding-bottom: 0.3rem;
}

pl03 {
  padding-left: 0.3rem;
}

pr03 {
  padding-right: 0.3rem;
}

p06 {
  padding: 0.6rem;
}

pt06 {
  padding-top: 0.6rem;
}

pb06 {
  padding-bottom: 0.6rem;
}

pl06 {
  padding-left: 0.6rem;
}

pr06 {
  padding-right: 0.6rem;
}

p10 {
  padding: 1rem;
}

pt10 {
  padding-top: 1rem;
}

pb10 {
  padding-bottom: 1rem;
}

pl10 {
  padding-left: 1rem;
}

pr10 {
  padding-right: 1rem;
}

p20 {
  padding: 2rem;
}

pt20 {
  padding-top: 2rem;
}

pb20 {
  padding-bottom: 2rem;
}

pl20 {
  padding-left: 2rem;
}

pr20 {
  padding-right: 2rem;
}
