.wfc {
  height: fit-content;
}

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h50 {
  height: 50%;
}

.h40 {
  height: 40%;
}

.h20 {
  height: 20%;
}

.h10 {
  height: 10%;
}

.mxh100 {
  max-height: 100%;
}

.mxh90 {
  max-height: 90%;
}

.mxh80 {
  max-height: 80%;
}

.mxh70 {
  max-height: 70%;
}

.mxh60 {
  max-height: 60%;
}

.mxh50 {
  max-height: 50%;
}

.mxh40 {
  max-height: 40%;
}

.mxh20 {
  max-height: 20%;
}

.mxh10 {
  max-height: 10%;
}

.mnh100 {
  min-height: 100%;
}

.mnh90 {
  min-height: 90%;
}

.mnh80 {
  min-height: 80%;
}

.mnh70 {
  min-height: 70%;
}

.mnh60 {
  min-height: 60%;
}

.mnh50 {
  min-height: 50%;
}

.mnh40 {
  min-height: 40%;
}

.mnh20 {
  min-height: 20%;
}

.mnh10 {
  min-height: 10%;
}

.h50px {
  height: 50px;
}

.h100px {
  height: 100px;
}

.h150px {
  height: 150px;
}

.h200px {
  height: 200px;
}

.h250px {
  height: 250px;
}

.h300px {
  height: 300px;
}

.h350px {
  height: 350px;
}

.h400px {
  height: 400px;
}

.h500px {
  height: 400px;
}
.h600px {
  height: 400px;
}
.h700px {
  height: 400px;
}
.h800px {
  height: 400px;
}
.h900px {
  height: 400px;
}
.h1000px {
  height: 400px;
}

.mxh50px {
  max-height: 50px;
}

.mxh100px {
  max-height: 100px;
}

.mxh150px {
  max-height: 150px;
}

.mxh200px {
  max-height: 200px;
}

.mxh250px {
  max-height: 250px;
}

.mxh300px {
  max-height: 300px;
}

.mxh350px {
  max-height: 350px;
}

.mxh400px {
  max-height: 400px;
}

.mxh500px {
  max-height: 400px;
}
.mxh600px {
  max-height: 400px;
}
.mxh700px {
  max-height: 400px;
}
.mxh800px {
  max-height: 400px;
}
.mxh900px {
  max-height: 400px;
}
.mxh1000px {
  max-height: 400px;
}

.mnh50px {
  min-height: 50px;
}

.mnh100px {
  min-height: 100px;
}

.mnh150px {
  min-height: 150px;
}

.mnh200px {
  min-height: 200px;
}

.mnh250px {
  min-height: 250px;
}

.mnh300px {
  min-height: 300px;
}

.mnh350px {
  min-height: 350px;
}

.mnh400px {
  min-height: 400px;
}

.mnh500px {
  min-height: 500px;
}
.mnh600px {
  min-height: 600px;
}
.mnh700px {
  min-height: 700px;
}
.mnh800px {
  min-height: 800px;
}
.mnh900px {
  min-height: 900px;
}
.mnh1000px {
  min-height: 1000px;
}
