.wfc {
  width: fit-content;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w80 {
  width: 80%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.mxw100 {
  max-width: 100%;
}

.mxw90 {
  max-width: 90%;
}

.mxw80 {
  max-width: 80%;
}

.mxw70 {
  max-width: 70%;
}

.mxw60 {
  max-width: 60%;
}

.mxw50 {
  max-width: 50%;
}

.mxw40 {
  max-width: 40%;
}

.mxw20 {
  max-width: 20%;
}

.mxw10 {
  max-width: 10%;
}

.mnw100 {
  min-width: 100%;
}

.mnw90 {
  min-width: 90%;
}

.mnw80 {
  min-width: 80%;
}

.mnw70 {
  min-width: 70%;
}

.mnw60 {
  min-width: 60%;
}

.mnw50 {
  min-width: 50%;
}

.mnw40 {
  min-width: 40%;
}

.mnw20 {
  min-width: 20%;
}

.mnw10 {
  min-width: 10%;
}

.w50px {
  width: 50px;
}

.w100px {
  width: 100px;
}

.w150px {
  width: 150px;
}

.w200px {
  width: 200px;
}

.w250px {
  width: 250px;
}

.w300px {
  width: 300px;
}

.w350px {
  width: 350px;
}

.w400px {
  width: 400px;
}

.w500px {
  width: 400px;
}
.w600px {
  width: 400px;
}
.w700px {
  width: 400px;
}
.w800px {
  width: 400px;
}
.w900px {
  width: 400px;
}
.w1000px {
  width: 400px;
}

.mxw50px {
  max-width: 50px;
}

.mxw100px {
  max-width: 100px;
}

.mxw150px {
  max-width: 150px;
}

.mxw200px {
  max-width: 200px;
}

.mxw250px {
  max-width: 250px;
}

.mxw300px {
  max-width: 300px;
}

.mxw350px {
  max-width: 350px;
}

.mxw400px {
  max-width: 400px;
}

.mxw500px {
  max-width: 400px;
}
.mxw600px {
  max-width: 400px;
}
.mxw700px {
  max-width: 400px;
}
.mxw800px {
  max-width: 400px;
}
.mxw900px {
  max-width: 400px;
}
.mxw1000px {
  max-width: 400px;
}

.mnw50px {
  min-width: 50px;
}

.mnw100px {
  min-width: 100px;
}

.mnw150px {
  min-width: 150px;
}

.mnw200px {
  min-width: 200px;
}

.mnw250px {
  min-width: 250px;
}

.mnw300px {
  min-width: 300px;
}

.mnw350px {
  min-width: 350px;
}

.mnw400px {
  min-width: 400px;
}

.mnw500px {
  min-width: 500px;
}
.mnw600px {
  min-width: 600px;
}
.mnw700px {
  min-width: 700px;
}
.mnw800px {
  min-width: 800px;
}
.mnw900px {
  min-width: 900px;
}
.mnw1000px {
  min-width: 1000px;
}
